openapi: 3.1.0
info:
  title: APIFreaks APIs
  description: Unified OpenAPI spec for the APIFreaks API hub, generated from the live per-category Swagger docs. Authenticate with your API key sent as the X-apiKey header. Get a free key at https://apifreaks.com/signup.
  version: 1.0.0
servers:
- url: https://api.apifreaks.com
  description: Base server
security:
- ApiKeyAuth: []
tags:
- name: Commodity
- name: Currency
- name: DNS
- name: Domain
- name: Email Validation
- name: General
- name: Geocoding
- name: GeoDB
- name: IP Geolocation
- name: OCR
- name: Other
- name: PDF
- name: Phone Validation
- name: Readability
- name: Web Scraping
- name: Screenshot
- name: SSL
- name: Timezone
- name: User Agent
- name: Financial
- name: Weather
- name: WHOIS
- name: ZIP Code
paths:
  /v1.0/commodity/rates/latest:
    get:
      tags:
      - Commodity
      summary: Get latest commodity prices
      description: Returns the current live price for the requested commodity symbols.
      operationId: getLatestCommodityPrices
      parameters:
      - name: format
        in: query
        required: false
        description: Response format. Currently only `json` is supported.
        schema:
          type: string
          default: json
      - name: symbols
        in: query
        required: true
        description: Comma-separated list of commodity symbols (e.g., `XAU`, `WTIOIL-SPOT`).
        schema:
          type: string
      - name: updates
        in: query
        required: true
        description: 'Update frequency. Accepted values: `1m` (default), `10m`.'
        schema:
          type: string
          enum:
          - 1m
          - 10m
          default: 1m
      - name: quote
        in: query
        required: false
        description: Target currency for the exchange rate. Defaults to the market currency of each commodity.
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommodityLiveCommodityPricesResponse'
              examples:
                success:
                  summary: Successful response
                  value:
                    success: true
                    timestamp: 1780644645
                    rates:
                      WTIOIL-SPOT: 90.62
                      XAU: 4466.05
                    metadata:
                      WTIOIL-SPOT:
                        unit: Bbl
                        quote: USD
                      XAU:
                        unit: T.oz
                        quote: USD
        '404':
          description: Not found - Symbol or quote currency not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommodityErrorResponse'
              examples:
                symbolNotFound:
                  summary: Symbol Not Found
                  value:
                    timestamp: 1781792620618
                    status: 404
                    error: SYMBOL_NOT_FOUND
                    message: The symbol is not supported, please visit the documentation for a list of supported symbols
                    path: /v1.0/commodity/example
                quoteNotFound:
                  summary: Quote Currency Not Found
                  value:
                    timestamp: 1781792620618
                    status: 404
                    error: QUOTE_NOT_FOUND
                    message: The quote currency is invalid, please visit the documentation for a list of valid quote currencies
                    path: /v1.0/commodity/example
      security:
      - ApiKeyAuth: []
  /v1.0/commodity/rates/historical:
    get:
      tags:
      - Commodity
      summary: Get historical commodity prices
      description: Returns OHLC price data for the requested commodity symbols on a specific date.
      operationId: getHistoricalCommodityPrices
      parameters:
      - name: format
        in: query
        required: false
        description: Response format. Currently only `json` is supported.
        schema:
          type: string
          default: json
      - name: symbols
        in: query
        required: true
        description: Comma-separated list of commodity symbols.
        schema:
          type: string
      - name: date
        in: query
        required: true
        description: Date in `YYYY-MM-DD` format. Data available from 1990 onwards.
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommodityHistoricalCommodityPricesResponse'
              examples:
                success:
                  summary: Successful response
                  value:
                    success: true
                    date: '2025-01-10'
                    rates:
                      WTIOIL-SPOT:
                        date: '2025-01-10'
                        open: 73.77
                        high: 77.16
                        low: 73.55
                        close: 75.97
                      XAU:
                        date: '2025-01-10'
                        open: 2669.93
                        high: 2697.85
                        low: 2663.61
                        close: 2689.44
        '400':
          description: Bad request - Invalid date format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommodityErrorResponse'
              examples:
                invalidDateFormat:
                  summary: Invalid date format
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: VALIDATION_ERROR
                    message: Invalid Date Format (YYYY-MM-DD).
                    path: /v1.0/commodity/example
                dateNotExist:
                  summary: Date does not exist
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: VALIDATION_ERROR
                    message: 'Invalid Date: The provided date does not exist.'
                    path: /v1.0/commodity/example
        '404':
          description: Not found - Symbol or rate not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommodityErrorResponse'
              examples:
                symbolNotFound:
                  summary: Symbol Not Found
                  value:
                    timestamp: 1781792620618
                    status: 404
                    error: SYMBOL_NOT_FOUND
                    message: The symbol is not supported, please visit the documentation for a list of supported symbols
                    path: /v1.0/commodity/example
                rateNotFound:
                  summary: Rate Not Found
                  value:
                    timestamp: 1781792620618
                    status: 404
                    error: RATE_NOT_FOUND
                    message: no rates found for the specified date
                    path: /v1.0/commodity/example
      security:
      - ApiKeyAuth: []
  /v1.0/commodity/time-series:
    get:
      tags:
      - Commodity
      summary: Get commodity price time series
      description: Returns day-by-day OHLC data for the requested commodity symbols within a date range.
      operationId: getCommodityTimeSeries
      parameters:
      - name: format
        in: query
        required: false
        description: Response format. Currently only `json` is supported.
        schema:
          type: string
          default: json
      - name: symbols
        in: query
        required: true
        description: Comma-separated list of commodity symbols.
        schema:
          type: string
      - name: startDate
        in: query
        required: true
        description: Start date in `YYYY-MM-DD` format.
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        description: End date in `YYYY-MM-DD` format. Maximum range is 365 days.
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommodityCommodityTimeSeriesResponse'
              examples:
                success:
                  summary: Successful response
                  value:
                    success: true
                    startDate: '2025-01-06'
                    endDate: '2025-01-10'
                    rates:
                      '2025-01-06':
                        XAU:
                          open: 2649.01
                          high: 2651.33
                          low: 2645.36
                          close: 2646.91
                      '2025-01-07':
                        XAU:
                          open: 2662.45
                          high: 2663.06
                          low: 2655.66
                          close: 2658.9
                      '2025-01-08':
                        XAU:
                          open: 2669.69
                          high: 2674.68
                          low: 2668.58
                          close: 2671.8
                      '2025-01-09':
                        XAU:
                          open: 2669.89
                          high: 2697.87
                          low: 2663.16
                          close: 2685.61
                      '2025-01-10':
                        XAU:
                          open: 2669.93
                          high: 2697.85
                          low: 2663.61
                          close: 2689.44
        '400':
          description: Bad request - Invalid dates or range exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommodityErrorResponse'
              examples:
                invalidDate:
                  summary: Invalid date
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: VALIDATION_ERROR
                    message: 'Invalid Date: The provided start date or end date does not exist.'
                    path: /v1.0/commodity/example
                startAfterEnd:
                  summary: Start date after end date
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: VALIDATION_ERROR
                    message: start date cannot be after end date
                    path: /v1.0/commodity/example
                dateRangeExceeded:
                  summary: Date range exceeded
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: VALIDATION_ERROR
                    message: Date range exceeds the allowed limit.
                    path: /v1.0/commodity/example
        '404':
          description: Not found - Symbol or data not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommodityErrorResponse'
              examples:
                symbolNotFound:
                  summary: Symbol Not Found
                  value:
                    timestamp: 1781792620618
                    status: 404
                    error: SYMBOL_NOT_FOUND
                    message: The symbol is not supported, please visit the documentation for a list of supported symbols
                    path: /v1.0/commodity/example
                dataNotFound:
                  summary: Data Not Found
                  value:
                    timestamp: 1781792620618
                    status: 404
                    error: DATA_NOT_FOUND
                    message: No data found for the specified date range
                    path: /v1.0/commodity/example
      security:
      - ApiKeyAuth: []
  /v1.0/commodity/fluctuation:
    get:
      tags:
      - Commodity
      summary: Get commodity price fluctuations
      description: Returns price fluctuation metrics (start, end, change, percent change) for the requested commodity symbols over a date range.
      operationId: getCommodityFluctuation
      parameters:
      - name: format
        in: query
        required: false
        description: Response format. Currently only `json` is supported.
        schema:
          type: string
          default: json
      - name: symbols
        in: query
        required: true
        description: Comma-separated list of commodity symbols.
        schema:
          type: string
      - name: startDate
        in: query
        required: true
        description: Start date in `YYYY-MM-DD` format.
        schema:
          type: string
      - name: endDate
        in: query
        required: true
        description: End date in `YYYY-MM-DD` format.
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommodityCommodityFluctuationResponse'
              examples:
                success:
                  summary: Successful response
                  value:
                    success: true
                    startDate: '2024-01-01'
                    endDate: '2024-01-31'
                    rates:
                      WTIOIL-SPOT:
                        startRate: 72.02
                        endRate: 75.81
                        change: 3.79
                        changePercent: 5.26
                      XAU:
                        startRate: 2063.63
                        endRate: 2039.83
                        change: -23.8
                        changePercent: -1.15
        '400':
          description: Bad request - Invalid dates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommodityErrorResponse'
              examples:
                invalidDateFormat:
                  summary: Invalid date format
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: VALIDATION_ERROR
                    message: Invalid Date Format (YYYY-MM-DD).
                    path: /v1.0/commodity/example
                dateNotExist:
                  summary: Date does not exist
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: VALIDATION_ERROR
                    message: 'Invalid Date: The provided start date or end date does not exist.'
                    path: /v1.0/commodity/example
                startAfterEnd:
                  summary: Start date after end date
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: VALIDATION_ERROR
                    message: Start date cannot be after end date
                    path: /v1.0/commodity/example
        '404':
          description: Not found - Symbol or data not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommodityErrorResponse'
              examples:
                symbolNotFound:
                  summary: Symbol Not Found
                  value:
                    timestamp: 1781792620618
                    status: 404
                    error: SYMBOL_NOT_FOUND
                    message: The symbol is not supported, please visit the documentation for a list of supported symbols
                    path: /v1.0/commodity/example
                noData:
                  summary: Data Not Found
                  value:
                    timestamp: 1781792620618
                    status: 404
                    error: DATA_NOT_FOUND
                    message: No data found for the given date range
                    path: /v1.0/commodity/example
      security:
      - ApiKeyAuth: []
  /v1.0/commodity/symbols:
    get:
      tags:
      - Commodity
      summary: Get all supported commodity symbols
      description: Returns the list of supported commodity symbols with metadata.
      operationId: getCommoditySymbols
      parameters:
      - name: format
        in: query
        required: false
        description: 'Response format. Accepted values: `json` (default) or `xml`.'
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommodityCommoditySymbolsResponse'
              examples:
                success:
                  summary: Successful response
                  value:
                    success: true
                    symbols:
                    - symbol: XAU
                      name: Gold
                      category: Metals
                      status: active
                      updateInterval: PER_SECOND
                      currency:
                        code: USD
                        name: US Dollar
                        symbol: $
                      unit:
                        symbol: T.oz
                        name: Troy Ounce
                    - symbol: NG-FUT
                      name: Natural Gas Futures
                      category: Energy
                      status: active
                      updateInterval: PER_MINUTE
                      currency:
                        code: USD
                        name: US Dollar
                        symbol: $
                      unit:
                        symbol: MMBtu
                        name: Million British Thermal Units
      security:
      - ApiKeyAuth: []
  /v1.0/currency/rates/latest:
    get:
      tags:
      - Currency
      summary: Get the latest exchange rates
      description: Returns the latest exchange rates for the requested base currency and symbols.
      operationId: getLatestExchangeRates
      parameters:
      - name: format
        in: query
        required: false
        description: 'Response format: `json` (default) or `xml`.'
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: base
        in: query
        required: false
        description: Base currency code. Defaults to `USD`. Supports fiat, crypto, and metals.
        schema:
          type: string
          default: USD
      - name: symbols
        in: query
        required: false
        description: Comma-separated currency codes. Omit to get all available rates.
        schema:
          type: string
      - name: updates
        in: query
        required: false
        description: 'Update frequency: `1m` (default), `10m`, `1h`, or `1d`.'
        schema:
          type: string
          enum:
          - 1m
          - 10m
          - 1h
          - 1d
          default: 1m
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyLatestExchangeRatesResponse'
              examples:
                success:
                  summary: Successful response
                  value:
                    date: '2026-06-05 09:03:00+00'
                    base: USD
                    rates:
                      EUR: '0.859476'
                      PKR: '278.425'
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyErrorResponse'
              examples:
                invalidUpdates:
                  summary: Invalid updates parameter
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: Invalid Param Exception
                    message: Please provide valid updates parameter (1d,1h,10m,1m)
                    path: /v1.0/currency/example
        '404':
          description: Not found - Currency or symbol not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyErrorResponse'
              examples:
                invalidBase:
                  summary: Invalid base currency
                  value:
                    timestamp: 1781792620618
                    status: 404
                    error: Not Found Exception
                    message: Rates of provided currency [CURRENCY_CODE] are not available in our database!
                    path: /v1.0/currency/example
                invalidSymbols:
                  summary: Invalid symbols
                  value:
                    timestamp: 1781792620618
                    status: 404
                    error: Not Found Exception
                    message: Rates of provided Symbols are not available in our database!
                    path: /v1.0/currency/example
      security:
      - ApiKeyAuth: []
  /v1.0/currency/rates/historical:
    get:
      tags:
      - Currency
      summary: Get historical exchange rates
      description: Returns exchange rates for a specific historical date.
      operationId: getHistoricalExchangeRates
      parameters:
      - name: format
        in: query
        required: false
        description: 'Response format: `json` (default) or `xml`.'
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: base
        in: query
        required: false
        description: Base currency code. Defaults to `USD`. Supports fiat, crypto, and metals.
        schema:
          type: string
          default: USD
      - name: symbols
        in: query
        required: false
        description: Comma-separated currency codes. Omit to get all available rates.
        schema:
          type: string
      - name: date
        in: query
        required: true
        description: Historical date in `YYYY-MM-DD` format.
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyHistoricalExchangeRatesResponse'
              examples:
                success:
                  summary: Successful response
                  value:
                    date: '2025-01-10'
                    base: USD
                    rates:
                      EUR: '0.9762'
                      PKR: '278.65'
        '400':
          description: Bad request - Invalid date format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyErrorResponse'
              examples:
                invalidDateFormat:
                  summary: Invalid date format
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: Invalid Param Exception
                    message: Provided Date [DATE] is in invalid format. It should be like YYYY-MM-DD!
                    path: /v1.0/currency/example
        '404':
          description: Not found - Currency, symbol, or date not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyErrorResponse'
              examples:
                dateNotFound:
                  summary: Date not found
                  value:
                    timestamp: 1781792620618
                    status: 404
                    error: Not Found Exception
                    message: Rates of provided date [DATE] are not available in our database.
                    path: /v1.0/currency/example
                invalidBase:
                  summary: Invalid base currency
                  value:
                    timestamp: 1781792620618
                    status: 404
                    error: Not Found Exception
                    message: Rates of provided currency [CURRENCY_CODE] are not available in our database!
                    path: /v1.0/currency/example
                invalidSymbols:
                  summary: Invalid symbols
                  value:
                    timestamp: 1781792620618
                    status: 404
                    error: Not Found Exception
                    message: Rates of provided Symbols are not available in our database!
                    path: /v1.0/currency/example
      security:
      - ApiKeyAuth: []
  /v1.0/currency/converter/latest/prices:
    get:
      tags:
      - Currency
      summary: Convert currency with latest rates
      description: Converts an amount from one currency to another using the latest exchange rates.
      operationId: convertLatest
      parameters:
      - name: format
        in: query
        required: false
        description: 'Response format: `json` (default) or `xml`.'
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: from
        in: query
        required: true
        description: Source currency code.
        schema:
          type: string
      - name: to
        in: query
        required: true
        description: Target currency code.
        schema:
          type: string
      - name: amount
        in: query
        required: false
        description: Amount to convert as a positive decimal. Defaults to `1`.
        schema:
          type: string
          default: '1'
      - name: updates
        in: query
        required: false
        description: 'Update frequency: `1m` (default), `10m`, `1h`, or `1d`.'
        schema:
          type: string
          enum:
          - 1m
          - 10m
          - 1h
          - 1d
          default: 1m
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyLatestCurrencyConverterResponse'
              examples:
                success:
                  summary: Successful response
                  value:
                    date: '2026-06-05 09:03:00+00'
                    from: USD
                    to: EUR
                    rate: '0.85948'
                    givenAmount: '100.0'
                    convertedAmount: '85.948'
        '400':
          description: Bad request - Invalid amount or updates parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyErrorResponse'
              examples:
                invalidAmount:
                  summary: Invalid amount
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: Invalid Param Exception
                    message: Invalid Amount. Please provide amount in decimal format and greater than 0!
                    path: /v1.0/currency/example
                invalidUpdates:
                  summary: Invalid updates parameter
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: Invalid Param Exception
                    message: Please provide valid updates parameter (1d,1h,10m,1m)
                    path: /v1.0/currency/example
        '404':
          description: Not found - Currency not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyErrorResponse'
              examples:
                invalidBase:
                  summary: Invalid currency
                  value:
                    timestamp: 1781792620618
                    status: 404
                    error: Not Found Exception
                    message: Rates of provided currency [CURRENCY_CODE] are not available in our database!
                    path: /v1.0/currency/example
      security:
      - ApiKeyAuth: []
  /v1.0/currency/converter/historical/prices:
    get:
      tags:
      - Currency
      summary: Convert currency with historical rates
      description: Converts an amount using exchange rates from a specific historical date.
      operationId: convertHistorical
      parameters:
      - name: format
        in: query
        required: false
        description: 'Response format: `json` (default) or `xml`.'
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: from
        in: query
        required: true
        description: Source currency code.
        schema:
          type: string
      - name: to
        in: query
        required: true
        description: Target currency code.
        schema:
          type: string
      - name: amount
        in: query
        required: false
        description: Amount to convert as a positive decimal. Defaults to `1`.
        schema:
          type: string
          default: '1'
      - name: date
        in: query
        required: true
        description: Historical date in `YYYY-MM-DD` format.
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyHistoricalCurrencyConverterResponse'
              examples:
                success:
                  summary: Successful response
                  value:
                    date: '2025-01-10'
                    from: USD
                    to: EUR
                    rate: '0.97620'
                    givenAmount: '100.0'
                    convertedAmount: '97.620'
        '400':
          description: Bad request - Invalid amount or date format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyErrorResponse'
              examples:
                invalidAmount:
                  summary: Invalid amount
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: Invalid Param Exception
                    message: Invalid Amount. Please provide amount in decimal format and greater than 0!
                    path: /v1.0/currency/example
                invalidDateFormat:
                  summary: Invalid date format
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: Invalid Param Exception
                    message: Provided Date [DATE] is in invalid format. It should be like YYYY-MM-DD!
                    path: /v1.0/currency/example
        '404':
          description: Not found - Currency or date not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyErrorResponse'
              examples:
                dateNotFound:
                  summary: Date not found
                  value:
                    timestamp: 1781792620618
                    status: 404
                    error: Not Found Exception
                    message: Rates of provided date [DATE] are not available in our database.
                    path: /v1.0/currency/example
                invalidBase:
                  summary: Invalid currency
                  value:
                    timestamp: 1781792620618
                    status: 404
                    error: Not Found Exception
                    message: Rates of provided currency [CURRENCY_CODE] are not available in our database!
                    path: /v1.0/currency/example
      security:
      - ApiKeyAuth: []
  /v1.0/currency/time-series:
    get:
      tags:
      - Currency
      summary: Get time series of exchange rates
      description: Returns day-by-day historical exchange rates for a custom date range.
      operationId: getTimeSeries
      parameters:
      - name: format
        in: query
        required: false
        description: 'Response format: `json` (default) or `xml`.'
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: startDate
        in: query
        required: true
        description: Start date in `YYYY-MM-DD` format.
        schema:
          type: string
      - name: endDate
        in: query
        required: false
        description: End date in `YYYY-MM-DD` format. Defaults to yesterday.
        schema:
          type: string
      - name: base
        in: query
        required: false
        description: Base currency code. Defaults to `USD`.
        schema:
          type: string
          default: USD
      - name: symbols
        in: query
        required: false
        description: Comma-separated currency codes. Omit to get all available rates.
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyCurrencyTimeseriesResponse'
              examples:
                success:
                  summary: Successful response
                  value:
                    startDate: '2025-01-01'
                    endDate: '2025-01-07'
                    base: USD
                    historicalRatesList:
                    - date: '2025-01-01'
                      rates:
                        EUR: '0.96605'
                        PKR: '278.4'
                    - date: '2025-01-02'
                      rates:
                        EUR: '0.9739'
                        PKR: '278.4'
                    - date: '2025-01-03'
                      rates:
                        EUR: '0.97005'
                        PKR: '278.4'
                    - date: '2025-01-04'
                      rates:
                        EUR: '0.97005'
                        PKR: '278.4'
                    - date: '2025-01-05'
                      rates:
                        EUR: '0.9704'
                        PKR: '278.4'
                    - date: '2025-01-06'
                      rates:
                        EUR: '0.96305'
                        PKR: '278.4'
                    - date: '2025-01-07'
                      rates:
                        EUR: '0.967'
                        PKR: '278.4'
        '400':
          description: Bad request - Invalid dates or range exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyErrorResponse'
              examples:
                rangeExceeded:
                  summary: Range exceeds 1 year
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: Invalid Param Exception
                    message: You can only retrieve time series data for a maximum interval of 1 Year
                    path: /v1.0/currency/example
                startAfterEnd:
                  summary: Start date after end or current date
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: Invalid Param Exception
                    message: Starting date cannot be after current date or ending date
                    path: /v1.0/currency/example
                invalidDateFormat:
                  summary: Invalid date format
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: Invalid Param Exception
                    message: Provided Dates are in Invalid Format. Dates must be in a valid format YYYY-MM-DD!
                    path: /v1.0/currency/example
        '404':
          description: Not found - No data for interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyErrorResponse'
              examples:
                noData:
                  summary: No data for interval
                  value:
                    timestamp: 1781792620618
                    status: 404
                    error: Not Found Exception
                    message: Rates of provided base and symbols are not found for given intervals.
                    path: /v1.0/currency/example
      security:
      - ApiKeyAuth: []
  /v1.0/currency/fluctuation:
    get:
      tags:
      - Currency
      summary: Get exchange rate fluctuations
      description: Returns exchange rate fluctuations between two dates for the requested symbols.
      operationId: getFluctuation
      parameters:
      - name: format
        in: query
        required: false
        description: 'Response format: `json` (default) or `xml`.'
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: startDate
        in: query
        required: true
        description: Start date in `YYYY-MM-DD` format.
        schema:
          type: string
      - name: endDate
        in: query
        required: false
        description: End date in `YYYY-MM-DD` format. Defaults to yesterday.
        schema:
          type: string
      - name: base
        in: query
        required: false
        description: Base currency code. Defaults to `USD`.
        schema:
          type: string
          default: USD
      - name: symbols
        in: query
        required: false
        description: Comma-separated currency codes. Omit to get all available rates.
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyCurrencyFluctuationResponse'
              examples:
                success:
                  summary: Successful response
                  value:
                    startDate: '2025-01-01'
                    endDate: '2025-01-10'
                    base: USD
                    rateFluctuations:
                      EUR:
                        startRate: '0.96605'
                        endRate: '0.97620'
                        change: '-0.010150'
                        percentChange: '-1.05'
                      PKR:
                        startRate: '278.400'
                        endRate: '278.650'
                        change: '-0.25'
                        percentChange: '-0.09'
        '400':
          description: Bad request - Invalid dates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyErrorResponse'
              examples:
                startAfterEnd:
                  summary: Start date after end or current date
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: Invalid Param Exception
                    message: Starting date cannot be after current date or ending date
                    path: /v1.0/currency/example
                invalidDateFormat:
                  summary: Invalid date format
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: Invalid Param Exception
                    message: Provided Dates are in Invalid Format. Dates must be in a valid format YYYY-MM-DD!
                    path: /v1.0/currency/example
        '404':
          description: Not found - No data for interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyErrorResponse'
              examples:
                noData:
                  summary: No data for interval
                  value:
                    timestamp: 1781792620618
                    status: 404
                    error: Not Found Exception
                    message: Rates of provided base and symbols are not found for given intervals.
                    path: /v1.0/currency/example
      security:
      - ApiKeyAuth: []
  /v1.0/currency/converter/ip-to-currency:
    get:
      tags:
      - Currency
      summary: Convert currency based on IP geolocation
      description: Converts an amount to the local currency of a given IP address.
      operationId: convertByIp
      parameters:
      - name: format
        in: query
        required: false
        description: 'Response format: `json` (default) or `xml`.'
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: from
        in: query
        required: true
        description: Source currency code.
        schema:
          type: string
      - name: ip
        in: query
        required: false
        description: IPv4 or IPv6 address. Defaults to the request IP.
        schema:
          type: string
      - name: amount
        in: query
        required: false
        description: Amount to convert as a positive decimal. Defaults to `1`.
        schema:
          type: string
          default: '1'
      - name: updates
        in: query
        required: false
        description: 'Update frequency: `1m` (default), `10m`, `1h`, or `1d`.'
        schema:
          type: string
          enum:
          - 1m
          - 10m
          - 1h
          - 1d
          default: 1m
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyGeolocalizedCurrencyConverterResponse'
              examples:
                success:
                  summary: Successful response
                  value:
                    date: '2026-06-05 14:39:00+00'
                    from: USD
                    to: PKR
                    rate: '278.425'
                    ipAddress: 182.186.18.91
                    givenAmount: '100.0'
                    convertedAmount: '27842.500'
        '400':
          description: Bad request - Invalid IP, amount, or updates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyErrorResponse'
              examples:
                invalidAmount:
                  summary: Invalid amount
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: Invalid Param Exception
                    message: Invalid Amount. Please provide amount in decimal format and greater than 0!
                    path: /v1.0/currency/example
                invalidUpdates:
                  summary: Invalid updates parameter
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: Invalid Param Exception
                    message: Please provide valid updates parameter (1d,1h,10m,1m)
                    path: /v1.0/currency/example
                invalidIp:
                  summary: Invalid IP address
                  value:
                    timestamp: 1781792620618
                    status: 400
                    error: Invalid Param Exception
                    message: Provided IP Address [IP_ADDRESS] is invalid.
                    path: /v1.0/currency/example
        '404':
          description: Not found - IP geolocation or currency not available
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyErrorResponse'
              examples:
                unknownIp:
                  summary: Unknown IP
                  value:
                    timestamp: 1781792620618
                    status: 404
                    error: Not Found Exception
                    message: Geolocation of provided IP [IP_ADDRESS] is unknown.
                    path: /v1.0/currency/example
                invalidBase:
                  summary: Invalid currency
                  value:
                    timestamp: 1781792620618
                    status: 404
                    error: Not Found Exception
                    message: Rates of provided currency [CURRENCY_CODE] are not available in our database!
                    path: /v1.0/currency/example
      security:
      - ApiKeyAuth: []
  /v1.0/currency/supported:
    get:
      tags:
      - Currency
      summary: Get all supported currencies
      description: Returns a map of all supported currencies with metadata.
      operationId: getSupportedCurrencies
      parameters:
      - name: format
        in: query
        required: false
        description: 'Response format: `json` (default) or `xml`.'
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencySupportedCurrenciesResponse'
              examples:
                success:
                  summary: Successful response
                  value:
                    supportedCurrenciesMap:
                      USD:
                        currencyCode: USD
                        currencyName: US Dollar
                        countryCode: AS
                        countryName: American Samoa
                        status: AVAILABLE
                        availableFrom: '2020-01-01'
                        availableUntil: '2026-06-18'
                        icon: https://currencyfreaks.com/photos/flags/usd.png
                      BTC:
                        currencyCode: BTC
                        currencyName: Bitcoin
                        countryCode: Crypto
                        countryName: Global
                        status: AVAILABLE
                        availableFrom: '2014-01-01'
                        availableUntil: '2026-06-18'
                        icon: https://currencyfreaks.com/photos/flags/btc.png
                      XAU:
                        currencyCode: XAU
                        currencyName: Gold Ounce
                        countryCode: Metal
                        countryName: Precious Metal
                        status: AVAILABLE
                        availableFrom: '2020-01-01'
                        availableUntil: '2026-06-18'
                        icon: https://currencyfreaks.com/photos/flags/xau.png
      security:
      - ApiKeyAuth: []
  /v1.0/currency/symbols:
    get:
      tags:
      - Currency
      summary: Get all currency symbols
      description: Returns a map of currency codes to their full names.
      operationId: getCurrencySymbols
      parameters:
      - name: format
        in: query
        required: false
        description: 'Response format: `json` (default) or `xml`.'
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyCurrencySymbolsResponse'
              examples:
                success:
                  summary: Successful response
                  value:
                    currencySymbols:
                      USD: US Dollar
                      EUR: Euro
                      GBP: British Pound Sterling
                      PKR: Pakistani Rupee
                      BTC: Bitcoin
                      XAU: Gold (troy ounce)
      security:
      - ApiKeyAuth: []
  /v1.0/currency/historical/data/limits:
    get:
      tags:
      - Currency
      summary: Get historical data availability limits
      description: Returns the date range when historical data is available for each currency.
      operationId: getHistoricalDataLimits
      parameters:
      - name: format
        in: query
        required: false
        description: 'Response format: `json` (default) or `xml`.'
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyHistoricalDataLimitsResponse'
              examples:
                success:
                  summary: Successful response
                  value:
                    availabilityPeriod:
                      USD: 1984-11-28 to 2026-06-18
                      EUR: 1998-12-31 to 2026-06-18
                      PKR: 1985-10-02 to 2026-06-18
                      BTC: 2013-01-07 to 2026-06-18
                      XAU: 1984-11-29 to 2026-06-18
      security:
      - ApiKeyAuth: []
  /v1.0/domain/dns/live:
    get:
      tags:
      - DNS
      summary: Get A, AAAA, MX, NS, SOA, SPF, TXT, and CNAME DNS records for any hostname
      description: 'Retrieve real-time DNS records for any hostname. Supports multiple record types including A, AAAA, MX, NS, SOA, SPF, TXT, and CNAME records.

        '
      operationId: dnsLookup
      security:
      - ApiKeyAuth: []
      parameters:
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - json
          - xml
        description: Format of the response.
      - name: host-name
        in: query
        required: false
        schema:
          type: string
        description: Hostname or URL whose DNS records are required.
      - name: ipAddress
        in: query
        required: false
        schema:
          type: string
        description: The IP address for requested DNS's PTR record. 'type' parameter must be set to 'all'.
      - name: type
        in: query
        required: true
        schema:
          type: string
        description: 'A comma-separated list of DNS record types for lookup. Possible values: A, AAAA, MX, NS, SOA, SPF, TXT, CNAME, or all. When ipAddress is provided, type must be "all".'
      responses:
        '200':
          description: Successful DNS lookup response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsDNSLookupResponse'
              example:
                status: true
                queryTime: '2026-06-06 10:43:05'
                domainName: example.com
                domainRegistered: true
                dnsTypes:
                  A: 1
                  NS: 2
                  SOA: 6
                  MX: 15
                  TXT: 16
                  AAAA: 28
                  SPF: 99
                dnsRecords:
                - name: example.com
                  type: 1
                  dnsType: A
                  ttl: 300
                  rawText: "example.com.\t\t300\tIN\tA\t104.20.23.154"
                  rRsetType: 1
                  address: 104.20.23.154
                - name: example.com
                  type: 1
                  dnsType: A
                  ttl: 300
                  rawText: "example.com.\t\t300\tIN\tA\t172.66.147.243"
                  rRsetType: 1
                  address: 172.66.147.243
                - name: example.com
                  type: 2
                  dnsType: NS
                  ttl: 21600
                  rawText: "example.com.\t\t21600\tIN\tNS\telliott.ns.cloudflare.com."
                  rRsetType: 2
                  singleName: elliott.ns.cloudflare.com.
                - name: example.com
                  type: 2
                  dnsType: NS
                  ttl: 21600
                  rawText: "example.com.\t\t21600\tIN\tNS\thera.ns.cloudflare.com."
                  rRsetType: 2
                  singleName: hera.ns.cloudflare.com.
                - name: example.com
                  type: 6
                  dnsType: SOA
                  ttl: 1800
                  rawText: "example.com.\t\t1800\tIN\tSOA\telliott.ns.cloudflare.com. dns.cloudflare.com. 2405749864 10000 2400 604800 1800"
                  rRsetType: 6
                  admin: dns.cloudflare.com.
                  host: elliott.ns.cloudflare.com.
                  expire: 604800
                  minimum: 1800
                  refresh: 10000
                  retry: 2400
                  serial: 2405749864
                - name: example.com
                  type: 15
                  dnsType: MX
                  ttl: 236
                  rawText: "example.com.\t\t236\tIN\tMX\t0 ."
                  rRsetType: 15
                  target: .
                  priority: 0
                - name: example.com
                  type: 16
                  dnsType: TXT
                  ttl: 300
                  rawText: "example.com.\t\t300\tIN\tTXT\t\"_k2n1y4vw3qtb4skdx9e7dxt97qrmmq9\""
                  rRsetType: 16
                  strings:
                  - _k2n1y4vw3qtb4skdx9e7dxt97qrmmq9
                - name: example.com
                  type: 28
                  dnsType: AAAA
                  ttl: 300
                  rawText: "example.com.\t\t300\tIN\tAAAA\t2606:4700:10:0:0:0:ac42:93f3"
                  rRsetType: 28
                  address: 2606:4700:10:0:0:0:ac42:93f3
                - name: example.com
                  type: 28
                  dnsType: AAAA
                  ttl: 300
                  rawText: "example.com.\t\t300\tIN\tAAAA\t2606:4700:10:0:0:0:6814:179a"
                  rRsetType: 28
                  address: 2606:4700:10:0:0:0:6814:179a
                - name: example.com
                  type: 99
                  dnsType: SPF
                  ttl: 300
                  rawText: "example.com.\t\t300\tIN\tSPF\t\"v=spf1 -all\""
                  rRsetType: 99
                  strings:
                  - v=spf1 -all
        '400':
          description: Invalid DNS type
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                    format: date-time
                    description: Timestamp of the error
                  path:
                    type: string
                    description: Request path
                  status:
                    type: integer
                    description: HTTP status code
                  error:
                    type: string
                    description: Error type
                  message:
                    type: string
                    description: Error message
              example:
                timestamp: '2025-08-14T10:09:36.260Z'
                path: /v1.0/domain/dns/live
                status: 400
                error: Invalid DNS Type Exception
                message: please pass correct parameters
        '404':
          description: Domain not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                    format: date-time
                    description: Timestamp of the error
                  path:
                    type: string
                    description: Request path
                  status:
                    type: integer
                    description: HTTP status code
                  error:
                    type: string
                    description: Error type
                  message:
                    type: string
                    description: Error message
              example:
                timestamp: '2025-08-14T10:09:36.260Z'
                path: /v1.0/domain/dns/live
                status: 404
                error: Not Found Exception
                message: 'Entered Domain does not exist: <HOSTNAME>'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                    format: date-time
                    description: Timestamp of the error
                  path:
                    type: string
                    description: Request path
                  status:
                    type: integer
                    description: HTTP status code
                  error:
                    type: string
                    description: Error type
                  message:
                    type: string
                    description: Error message
              example:
                timestamp: '2025-08-14T10:09:36.260Z'
                path: /v1.0/domain/dns/live
                status: 408
                error: Request Timeout
                message: 'Unable to fetch dns records. Please try after some time. [For Technical Support email at: support@whoisfreaks.com]'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                    format: date-time
                    description: Timestamp of the error
                  path:
                    type: string
                    description: Request path
                  status:
                    type: integer
                    description: HTTP status code
                  error:
                    type: string
                    description: Error type
                  message:
                    type: string
                    description: Error message
              example:
                timestamp: '2025-08-14T10:09:36.260Z'
                path: /v1.0/domain/dns/live
                status: 503
                error: Service Unavailable
                message: Service is unavailable.
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                    format: date-time
                    description: Timestamp of the error
                  path:
                    type: string
                    description: Request path
                  status:
                    type: integer
                    description: HTTP status code
                  error:
                    type: string
                    description: Error type
                  message:
                    type: string
                    description: Error message
              example:
                timestamp: '2025-08-14T10:09:36.260Z'
                path: /v1.0/domain/dns/live
                status: 504
                error: Gateway Timeout
                message: Request is timed-out.
    post:
      tags:
      - DNS
      summary: Retrieve A, AAAA, MX, NS, SOA, SPF, TXT, and CNAME DNS records of multiple hostnames in a single request
      description: 'Perform DNS lookups for multiple hostnames in a single request. Supports up to `100 host-names per request`

        and returns DNS records including A, AAAA, MX, NS, SOA, SPF, TXT, and CNAME records.

        '
      operationId: bulkDnsLookup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - domainNames
              properties:
                domainNames:
                  type: array
                  description: List of hostnames to lookup DNS records for
                  maxItems: 100
                  items:
                    type: string
                ipAddresses:
                  type: array
                  description: Array of IP addresses to include in the lookup for enrichment
                  items:
                    type: string
      parameters:
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - json
          - xml
        description: Format of the response.
      - name: type
        in: query
        required: true
        schema:
          type: string
        description: 'A comma-separated list of DNS record types for lookup.

          Possible values: A, AAAA, MX, NS, SOA, SPF, TXT, CNAME, or all

          '
      responses:
        '200':
          description: Successful DNS lookup response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsBulkDNSLookupResponse'
              example:
                bulk_dns_info:
                - status: true
                  queryTime: '2026-06-17 09:43:40'
                  ipAddress: 8.8.8.8
                  dnsTypes:
                    PTR: 12
                  dnsRecords:
                  - name: 8.8.8.8.in-addr.arpa
                    type: 12
                    dnsType: PTR
                    ttl: 3933
                    rawText: "8.8.8.8.in-addr.arpa.\t3933\tIN\tPTR\tdns.google."
                    rRsetType: 12
                    singleName: dns.google.
                - status: true
                  queryTime: '2026-06-17 09:43:40'
                  domainName: google.com
                  domainRegistered: true
                  dnsTypes:
                    A: 1
                    NS: 2
                    SOA: 6
                    MX: 15
                    TXT: 16
                    AAAA: 28
                    SPF: 99
                  dnsRecords:
                  - name: google.com
                    type: 1
                    dnsType: A
                    ttl: 266
                    rawText: "google.com.\t\t266\tIN\tA\t142.250.27.113"
                    rRsetType: 1
                    address: 142.250.27.113
                  - name: google.com
                    type: 1
                    dnsType: A
                    ttl: 266
                    rawText: "google.com.\t\t266\tIN\tA\t142.250.27.100"
                    rRsetType: 1
                    address: 142.250.27.100
                  - name: google.com
                    type: 1
                    dnsType: A
                    ttl: 266
                    rawText: "google.com.\t\t266\tIN\tA\t142.250.27.101"
                    rRsetType: 1
                    address: 142.250.27.101
                  - name: google.com
                    type: 1
                    dnsType: A
                    ttl: 266
                    rawText: "google.com.\t\t266\tIN\tA\t142.250.27.102"
                    rRsetType: 1
                    address: 142.250.27.102
                  - name: google.com
                    type: 1
                    dnsType: A
                    ttl: 266
                    rawText: "google.com.\t\t266\tIN\tA\t142.250.27.138"
                    rRsetType: 1
                    address: 142.250.27.138
                  - name: google.com
                    type: 1
                    dnsType: A
                    ttl: 266
                    rawText: "google.com.\t\t266\tIN\tA\t142.250.27.139"
                    rRsetType: 1
                    address: 142.250.27.139
                  - name: google.com
                    type: 2
                    dnsType: NS
                    ttl: 21600
                    rawText: "google.com.\t\t21600\tIN\tNS\tns3.google.com."
                    rRsetType: 2
                    singleName: ns3.google.com.
                  - name: google.com
                    type: 2
                    dnsType: NS
                    ttl: 21600
                    rawText: "google.com.\t\t21600\tIN\tNS\tns4.google.com."
                    rRsetType: 2
                    singleName: ns4.google.com.
                  - name: google.com
                    type: 2
                    dnsType: NS
                    ttl: 21600
                    rawText: "google.com.\t\t21600\tIN\tNS\tns2.google.com."
                    rRsetType: 2
                    singleName: ns2.google.com.
                  - name: google.com
                    type: 2
                    dnsType: NS
                    ttl: 21600
                    rawText: "google.com.\t\t21600\tIN\tNS\tns1.google.com."
                    rRsetType: 2
                    singleName: ns1.google.com.
                  - name: google.com
                    type: 6
                    dnsType: SOA
                    ttl: 20
                    rawText: "google.com.\t\t20\tIN\tSOA\tns1.google.com. dns-admin.google.com. 932992649 900 900 1800 60"
                    rRsetType: 6
                    admin: dns-admin.google.com.
                    host: ns1.google.com.
                    expire: 1800
                    minimum: 60
                    refresh: 900
                    retry: 900
                    serial: 932992649
                  - name: google.com
                    type: 15
                    dnsType: MX
                    ttl: 198
                    rawText: "google.com.\t\t198\tIN\tMX\t10 smtp.google.com."
                    rRsetType: 15
                    target: smtp.google.com.
                    priority: 10
                  - name: google.com
                    type: 16
                    dnsType: TXT
                    ttl: 300
                    rawText: "google.com.\t\t300\tIN\tTXT\t\"onetrust-domain-verification=6d685f1d41a94696ad7ef771f68993e0\""
                    rRsetType: 16
                    strings:
                    - onetrust-domain-verification=6d685f1d41a94696ad7ef771f68993e0
                  - name: google.com
                    type: 16
                    dnsType: TXT
                    ttl: 300
                    rawText: "google.com.\t\t300\tIN\tTXT\t\"google-site-verification=TV9-DBe4R80X4v0M4U_bd_J9cpOJM0nikft0jAgjmsQ\""
                    rRsetType: 16
                    strings:
                    - google-site-verification=TV9-DBe4R80X4v0M4U_bd_J9cpOJM0nikft0jAgjmsQ
                  - name: google.com
                    type: 16
                    dnsType: TXT
                    ttl: 300
                    rawText: "google.com.\t\t300\tIN\tTXT\t\"onetrust-domain-verification=0d477fe608074e6f9c12bca7826035cc\""
                    rRsetType: 16
                    strings:
                    - onetrust-domain-verification=0d477fe608074e6f9c12bca7826035cc
                  - name: google.com
                    type: 16
                    dnsType: TXT
                    ttl: 300
                    rawText: "google.com.\t\t300\tIN\tTXT\t\"MS=E4A68B9AB2BB9670BCE15412F62916164C0B20BB\""
                    rRsetType: 16
                    strings:
                    - MS=E4A68B9AB2BB9670BCE15412F62916164C0B20BB
                  - name: google.com
                    type: 16
                    dnsType: TXT
                    ttl: 300
                    rawText: "google.com.\t\t300\tIN\tTXT\t\"docusign=05958488-4752-4ef2-95eb-aa7ba8a3bd0e\""
                    rRsetType: 16
                    strings:
                    - docusign=05958488-4752-4ef2-95eb-aa7ba8a3bd0e
                  - name: google.com
                    type: 16
                    dnsType: TXT
                    ttl: 300
                    rawText: "google.com.\t\t300\tIN\tTXT\t\"google-site-verification=4ibFUgB-wXLQ_S7vsXVomSTVamuOXBiVAzpR5IZ87D0\""
                    rRsetType: 16
                    strings:
                    - google-site-verification=4ibFUgB-wXLQ_S7vsXVomSTVamuOXBiVAzpR5IZ87D0
                  - name: google.com
                    type: 16
                    dnsType: TXT
                    ttl: 300
                    rawText: "google.com.\t\t300\tIN\tTXT\t\"cisco-ci-domain-verification=47c38bc8c4b74b7233e9053220c1bbe76bcc1cd33c7acf7acd36cd6a5332004b\""
                    rRsetType: 16
                    strings:
                    - cisco-ci-domain-verification=47c38bc8c4b74b7233e9053220c1bbe76bcc1cd33c7acf7acd36cd6a5332004b
                  - name: google.com
                    type: 16
                    dnsType: TXT
                    ttl: 300
                    rawText: "google.com.\t\t300\tIN\tTXT\t\"facebook-domain-verification=22rm551cu4k0ab0bxsw536tlds4h95\""
                    rRsetType: 16
                    strings:
                    - facebook-domain-verification=22rm551cu4k0ab0bxsw536tlds4h95
                  - name: google.com
                    type: 16
                    dnsType: TXT
                    ttl: 300
                    rawText: "google.com.\t\t300\tIN\tTXT\t\"docusign=1b0a6754-49b1-4db5-8540-d2c12664b289\""
                    rRsetType: 16
                    strings:
                    - docusign=1b0a6754-49b1-4db5-8540-d2c12664b289
                  - name: google.com
                    type: 16
                    dnsType: TXT
                    ttl: 300
                    rawText: "google.com.\t\t300\tIN\tTXT\t\"apple-domain-verification=30afIBcvSuDV2PLX\""
                    rRsetType: 16
                    strings:
                    - apple-domain-verification=30afIBcvSuDV2PLX
                  - name: google.com
                    type: 16
                    dnsType: TXT
                    ttl: 300
                    rawText: "google.com.\t\t300\tIN\tTXT\t\"globalsign-smime-dv=CDYX+XFHUw2wml6/Gb8+59BsH31KzUr6c1l2BPvqKX8=\""
                    rRsetType: 16
                    strings:
                    - globalsign-smime-dv=CDYX+XFHUw2wml6/Gb8+59BsH31KzUr6c1l2BPvqKX8=
                  - name: google.com
                    type: 16
                    dnsType: TXT
                    ttl: 300
                    rawText: "google.com.\t\t300\tIN\tTXT\t\"google-site-verification=wD8N7i1JTNTkezJ49swvWW48f8_9xveREV4oB-0Hf5o\""
                    rRsetType: 16
                    strings:
                    - google-site-verification=wD8N7i1JTNTkezJ49swvWW48f8_9xveREV4oB-0Hf5o
                  - name: google.com
                    type: 28
                    dnsType: AAAA
                    ttl: 106
                    rawText: "google.com.\t\t106\tIN\tAAAA\t2a00:1450:4025:401:0:0:0:8b"
                    rRsetType: 28
                    address: 2a00:1450:4025:401:0:0:0:8b
                  - name: google.com
                    type: 28
                    dnsType: AAAA
                    ttl: 106
                    rawText: "google.com.\t\t106\tIN\tAAAA\t2a00:1450:4025:401:0:0:0:71"
                    rRsetType: 28
                    address: 2a00:1450:4025:401:0:0:0:71
                  - name: google.com
                    type: 28
                    dnsType: AAAA
                    ttl: 106
                    rawText: "google.com.\t\t106\tIN\tAAAA\t2a00:1450:4025:401:0:0:0:64"
                    rRsetType: 28
                    address: 2a00:1450:4025:401:0:0:0:64
                  - name: google.com
                    type: 28
                    dnsType: AAAA
                    ttl: 106
                    rawText: "google.com.\t\t106\tIN\tAAAA\t2a00:1450:4025:401:0:0:0:66"
                    rRsetType: 28
                    address: 2a00:1450:4025:401:0:0:0:66
                  - name: google.com
                    type: 99
                    dnsType: SPF
                    ttl: 300
                    rawText: "google.com.\t\t300\tIN\tSPF\t\"v=spf1 include:_spf.google.com ~all\""
                    rRsetType: 99
                    strings:
                    - v=spf1 include:_spf.google.com ~all
                - status: true
                  queryTime: '2026-06-17 09:43:40'
                  ipAddress: 1.1.1.1
                  dnsTypes:
                    PTR: 12
                  dnsRecords:
                  - name: 1.1.1.1.in-addr.arpa
                    type: 12
                    dnsType: PTR
                    ttl: 405
                    rawText: "1.1.1.1.in-addr.arpa.\t405\tIN\tPTR\tone.one.one.one."
                    rRsetType: 12
                    singleName: one.one.one.one.
                - status: true
                  queryTime: '2026-06-17 09:43:40'
                  domainName: example.com
                  domainRegistered: true
                  dnsTypes:
                    A: 1
                    NS: 2
                    SOA: 6
                    MX: 15
                    TXT: 16
                    AAAA: 28
                    SPF: 99
                  dnsRecords:
                  - name: example.com
                    type: 1
                    dnsType: A
                    ttl: 300
                    rawText: "example.com.\t\t300\tIN\tA\t104.20.23.154"
                    rRsetType: 1
                    address: 104.20.23.154
                  - name: example.com
                    type: 1
                    dnsType: A
                    ttl: 300
                    rawText: "example.com.\t\t300\tIN\tA\t172.66.147.243"
                    rRsetType: 1
                    address: 172.66.147.243
                  - name: example.com
                    type: 2
                    dnsType: NS
                    ttl: 21600
                    rawText: "example.com.\t\t21600\tIN\tNS\telliott.ns.cloudflare.com."
                    rRsetType: 2
                    singleName: elliott.ns.cloudflare.com.
                  - name: example.com
                    type: 2
                    dnsType: NS
                    ttl: 21600
                    rawText: "example.com.\t\t21600\tIN\tNS\thera.ns.cloudflare.com."
                    rRsetType: 2
                    singleName: hera.ns.cloudflare.com.
                  - name: example.com
                    type: 6
                    dnsType: SOA
                    ttl: 1800
                    rawText: "example.com.\t\t1800\tIN\tSOA\telliott.ns.cloudflare.com. dns.cloudflare.com. 2405749864 10000 2400 604800 1800"
                    rRsetType: 6
                    admin: dns.cloudflare.com.
                    host: elliott.ns.cloudflare.com.
                    expire: 604800
                    minimum: 1800
                    refresh: 10000
                    retry: 2400
                    serial: 2405749864
                  - name: example.com
                    type: 15
                    dnsType: MX
                    ttl: 86
                    rawText: "example.com.\t\t86\tIN\tMX\t0 ."
                    rRsetType: 15
                    target: .
                    priority: 0
                  - name: example.com
                    type: 16
                    dnsType: TXT
                    ttl: 300
                    rawText: "example.com.\t\t300\tIN\tTXT\t\"_k2n1y4vw3qtb4skdx9e7dxt97qrmmq9\""
                    rRsetType: 16
                    strings:
                    - _k2n1y4vw3qtb4skdx9e7dxt97qrmmq9
                  - name: example.com
                    type: 28
                    dnsType: AAAA
                    ttl: 300
                    rawText: "example.com.\t\t300\tIN\tAAAA\t2606:4700:10:0:0:0:ac42:93f3"
                    rRsetType: 28
                    address: 2606:4700:10:0:0:0:ac42:93f3
                  - name: example.com
                    type: 28
                    dnsType: AAAA
                    ttl: 300
                    rawText: "example.com.\t\t300\tIN\tAAAA\t2606:4700:10:0:0:0:6814:179a"
                    rRsetType: 28
                    address: 2606:4700:10:0:0:0:6814:179a
                  - name: example.com
                    type: 99
                    dnsType: SPF
                    ttl: 300
                    rawText: "example.com.\t\t300\tIN\tSPF\t\"v=spf1 -all\""
                    rRsetType: 99
                    strings:
                    - v=spf1 -all
        '400':
          description: Invalid DNS record type
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                    format: date-time
                    description: Timestamp of the error
                  path:
                    type: string
                    description: Request path
                  status:
                    type: integer
                    description: HTTP status code
                  error:
                    type: string
                    description: Error type
                  message:
                    type: string
                    description: Error message
              example:
                timestamp: '2025-08-14T10:09:36.260Z'
                path: /v1.0/domain/dns/live
                status: 400
                error: Invalid Param Exception
                message: please pass correct parameters
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                    format: date-time
                    description: Timestamp of the error
                  path:
                    type: string
                    description: Request path
                  status:
                    type: integer
                    description: HTTP status code
                  error:
                    type: string
                    description: Error type
                  message:
                    type: string
                    description: Error message
              example:
                timestamp: '2025-08-14T10:09:36.260Z'
                path: /v1.0/domain/dns/live
                status: 408
                error: Request Timeout
                message: 'Unable to fetch dns recIords. Please try again [For Technical Support: support@whoisfreaks.com].'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                    format: date-time
                    description: Timestamp of the error
                  path:
                    type: string
                    description: Request path
                  status:
                    type: integer
                    description: HTTP status code
                  error:
                    type: string
                    description: Error type
                  message:
                    type: string
                    description: Error message
              example:
                timestamp: '2025-08-14T10:09:36.260Z'
                path: /v1.0/domain/dns/live
                status: 503
                error: Service Unavailable
                message: Service is unavailable. Please try after some time.
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                    format: date-time
                    description: Timestamp of the error
                  path:
                    type: string
                    description: Request path
                  status:
                    type: integer
                    description: HTTP status code
                  error:
                    type: string
                    description: Error type
                  message:
                    type: string
                    description: Error message
              example:
                timestamp: '2025-08-14T10:09:36.260Z'
                path: /v1.0/domain/dns/live
                status: 504
                error: Gateway Timeout
                message: Request is timed-out
      security:
      - ApiKeyAuth: []
  /v1.0/domain/dns/history:
    get:
      tags:
      - DNS
      summary: Get all historical A, AAAA, MX, NS, SOA, SPF, TXT, and CNAME DNS records of a hostname
      description: 'Retrieve historical DNS records for any hostname. Access unique historical data for A, AAAA, MX, NS, SOA, SPF, TXT, and CNAME records,

        including subdomains. Results are paginated with up to 100 unique records per page.

        '
      operationId: dnsHistoryLookup
      parameters:
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - json
          - xml
        description: Format of the response.
      - name: host-name
        in: query
        required: true
        schema:
          type: string
        description: Hostname or URL whose historical DNS records are required
      - name: type
        in: query
        required: true
        schema:
          type: string
        description: 'A comma-separated list of DNS record types for lookup.

          Possible values: A, AAAA, MX, NS, SOA, SPF, TXT, CNAME, or all

          '
      - name: page
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          default: 1
        description: Page number for paginated results
      responses:
        '200':
          description: Successful DNS history lookup response
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalPages:
                    type: integer
                  currentPage:
                    type: integer
                  totalRecords:
                    type: integer
                  historicalDnsRecords:
                    type: array
                    items:
                      type: object
                      required:
                      - queryTime
                      - domainName
                      - dnsTypes
                      - dnsRecords
                      properties:
                        queryTime:
                          type: string
                          description: 'Date when the DNS snapshot was taken. (Format: YYYY-MM-DD)'
                        domainName:
                          type: string
                          description: Queried domain name with trailing dot.
                        dnsTypes:
                          type: object
                          properties:
                            A:
                              type: number
                            AAAA:
                              type: number
                            MX:
                              type: number
                            NS:
                              type: number
                            SOA:
                              type: number
                            TXT:
                              type: number
                            SPF:
                              type: number
                        dnsRecords:
                          type: array
                          items:
                            oneOf:
                            - $ref: '#/components/schemas/DnsAorAAAARecord'
                            - $ref: '#/components/schemas/DnsCNAMERecord'
                            - $ref: '#/components/schemas/DnsMXRecord'
                            - $ref: '#/components/schemas/DnsNSRecord'
                            - $ref: '#/components/schemas/DnsSOARecord'
                            - $ref: '#/components/schemas/DnsTXTRecord'
                required:
                - totalRecords
                - totalPages
                - currentPage
                - historicalDnsRecords
              example:
                totalRecords: 46
                totalPages: 1
                currentPage: 1
                historicalDnsRecords:
                - queryTime: '2025-12-16'
                  domainName: example.com.
                  dnsTypes:
                    SOA: 6
                    AAAA: 28
                    A: 1
                    NS: 2
                  dnsRecords:
                  - name: example.com
                    type: 1
                    dnsType: A
                    ttl: 4
                    rawText: "example.com.\t\t4\tIN\tA\t23.192.228.84"
                    rRsetType: 1
                    address: 23.192.228.84
                  - name: example.com
                    type: 1
                    dnsType: A
                    ttl: 4
                    rawText: "example.com.\t\t4\tIN\tA\t23.215.0.136"
                    rRsetType: 1
                    address: 23.215.0.136
                  - name: example.com
                    type: 1
                    dnsType: A
                    ttl: 278
                    rawText: "example.com.\t\t278\tIN\tA\t23.220.75.245"
                    rRsetType: 1
                    address: 23.220.75.245
                  - name: example.com
                    type: 1
                    dnsType: A
                    ttl: 278
                    rawText: "example.com.\t\t278\tIN\tA\t23.220.75.232"
                    rRsetType: 1
                    address: 23.220.75.232
                  - name: example.com
                    type: 1
                    dnsType: A
                    ttl: 4
                    rawText: "example.com.\t\t4\tIN\tA\t23.215.0.138"
                    rRsetType: 1
                    address: 23.215.0.138
                  - name: example.com
                    type: 1
                    dnsType: A
                    ttl: 4
                    rawText: "example.com.\t\t4\tIN\tA\t23.192.228.80"
                    rRsetType: 1
                    address: 23.192.228.80
                  - name: example.com
                    type: 28
                    dnsType: AAAA
                    ttl: 89
                    rawText: "example.com.\t\t89\tIN\tAAAA\t2600:1406:5e00:6:0:0:17ce:bc12"
                    rRsetType: 28
                    address: 2600:1406:5e00:6:0:0:17ce:bc12
                  - name: example.com
                    type: 28
                    dnsType: AAAA
                    ttl: 202
                    rawText: "example.com.\t\t202\tIN\tAAAA\t2600:1406:bc00:53:0:0:b81e:94ce"
                    rRsetType: 28
                    address: 2600:1406:bc00:53:0:0:b81e:94ce
                  - name: example.com
                    type: 28
                    dnsType: AAAA
                    ttl: 89
                    rawText: "example.com.\t\t89\tIN\tAAAA\t2600:1406:5e00:6:0:0:17ce:bc1b"
                    rRsetType: 28
                    address: 2600:1406:5e00:6:0:0:17ce:bc1b
                  - name: example.com
                    type: 28
                    dnsType: AAAA
                    ttl: 202
                    rawText: "example.com.\t\t202\tIN\tAAAA\t2600:1408:ec00:36:0:0:1736:7f31"
                    rRsetType: 28
                    address: 2600:1408:ec00:36:0:0:1736:7f31
                  - name: example.com
                    type: 28
                    dnsType: AAAA
                    ttl: 202
                    rawText: "example.com.\t\t202\tIN\tAAAA\t2600:1408:ec00:36:0:0:1736:7f24"
                    rRsetType: 28
                    address: 2600:1408:ec00:36:0:0:1736:7f24
                  - name: example.com
                    type: 28
                    dnsType: AAAA
                    ttl: 202
                    rawText: "example.com.\t\t202\tIN\tAAAA\t2600:1406:bc00:53:0:0:b81e:94c8"
                    rRsetType: 28
                    address: 2600:1406:bc00:53:0:0:b81e:94c8
                  - name: example.com
                    type: 6
                    dnsType: SOA
                    ttl: 3600
                    rawText: "example.com.\t\t3600\tIN\tSOA\tns.icann.org. noc.dns.icann.org. 2022091323 7200 3600 1209600 3600"
                    rRsetType: 6
                    admin: noc.dns.icann.org.
                    host: ns.icann.org.
                    expire: 1209600
                    minimum: 3600
                    refresh: 7200
                    retry: 3600
                    serial: 2022091323
                  - name: example.com
                    type: 2
                    dnsType: NS
                    ttl: 21600
                    rawText: "example.com.\t\t21600\tIN\tNS\ta.iana-servers.net."
                    rRsetType: 2
                    singleName: a.iana-servers.net.
                  - name: example.com
                    type: 2
                    dnsType: NS
                    ttl: 21600
                    rawText: "example.com.\t\t21600\tIN\tNS\tb.iana-servers.net."
                    rRsetType: 2
                    singleName: b.iana-servers.net.
                - queryTime: '2025-12-17'
                  domainName: example.com.
                  dnsTypes:
                    AAAA: 28
                    A: 1
                    NS: 2
                  dnsRecords:
                  - name: example.com
                    type: 1
                    dnsType: A
                    ttl: 300
                    rawText: "example.com.\t\t300\tIN\tA\t104.20.34.220"
                    rRsetType: 1
                    address: 104.20.34.220
                  - name: example.com
                    type: 1
                    dnsType: A
                    ttl: 300
                    rawText: "example.com.\t\t300\tIN\tA\t172.66.144.113"
                    rRsetType: 1
                    address: 172.66.144.113
                  - name: example.com
                    type: 28
                    dnsType: AAAA
                    ttl: 300
                    rawText: "example.com.\t\t300\tIN\tAAAA\t2606:4700:10:0:0:0:ac42:9071"
                    rRsetType: 28
                    address: 2606:4700:10:0:0:0:ac42:9071
                  - name: example.com
                    type: 28
                    dnsType: AAAA
                    ttl: 300
                    rawText: "example.com.\t\t300\tIN\tAAAA\t2606:4700:10:0:0:0:6814:22dc"
                    rRsetType: 28
                    address: 2606:4700:10:0:0:0:6814:22dc
                  - name: example.com
                    type: 2
                    dnsType: NS
                    ttl: 128
                    rawText: "example.com.\t\t128\tIN\tNS\ta.iana-servers.net."
                    rRsetType: 2
                    singleName: a.iana-servers.net.
                  - name: example.com
                    type: 2
                    dnsType: NS
                    ttl: 128
                    rawText: "example.com.\t\t128\tIN\tNS\tb.iana-servers.net."
                    rRsetType: 2
                    singleName: b.iana-servers.net.
                - queryTime: '2023-12-10'
                  domainName: example.com.
                  dnsTypes:
                    SOA: 6
                  dnsRecords:
                  - name: example.com
                    type: 6
                    dnsType: SOA
                    ttl: 3600
                    rawText: "example.com.\t\t3600\tIN\tSOA\tns.icann.org. noc.dns.icann.org. 2022091325 7200 3600 1209600 3600"
                    rRsetType: 6
                    admin: noc.dns.icann.org.
                    host: ns.icann.org.
                    expire: 1209600
                    minimum: 3600
                    refresh: 7200
                    retry: 3600
                    serial: 2022091325
                  - name: example.com
                    type: 6
                    dnsType: SOA
                    ttl: 3600
                    rawText: "example.com.\t\t3600\tIN\tSOA\tns.icann.org. noc.dns.icann.org. 2022091216 7200 3600 1209600 3600"
                    rRsetType: 6
                    admin: noc.dns.icann.org.
                    host: ns.icann.org.
                    expire: 1209600
                    minimum: 3600
                    refresh: 7200
                    retry: 3600
                    serial: 2022091216
                - queryTime: '2025-08-14'
                  domainName: example.com.
                  dnsTypes:
                    AAAA: 28
                    A: 1
                  dnsRecords:
                  - name: example.com
                    type: 1
                    dnsType: A
                    ttl: 4
                    rawText: "example.com.\t\t4\tIN\tA\t96.7.128.175"
                    rRsetType: 1
                    address: 96.7.128.175
                  - name: example.com
                    type: 1
                    dnsType: A
                    ttl: 4
                    rawText: "example.com.\t\t4\tIN\tA\t96.7.128.198"
                    rRsetType: 1
                    address: 96.7.128.198
                  - name: example.com
                    type: 28
                    dnsType: AAAA
                    ttl: 202
                    rawText: "example.com.\t\t202\tIN\tAAAA\t2600:1406:3a00:21:0:0:173e:2e65"
                    rRsetType: 28
                    address: 2600:1406:3a00:21:0:0:173e:2e65
                  - name: example.com
                    type: 28
                    dnsType: AAAA
                    ttl: 202
                    rawText: "example.com.\t\t202\tIN\tAAAA\t2600:1406:3a00:21:0:0:173e:2e66"
                    rRsetType: 28
                    address: 2600:1406:3a00:21:0:0:173e:2e66
                - queryTime: '2026-04-09'
                  domainName: example.com.
                  dnsTypes:
                    AAAA: 28
                    A: 1
                  dnsRecords:
                  - name: example.com
                    type: 1
                    dnsType: A
                    ttl: 300
                    rawText: "example.com.\t\t300\tIN\tA\t104.18.27.120"
                    rRsetType: 1
                    address: 104.18.27.120
                  - name: example.com
                    type: 1
                    dnsType: A
                    ttl: 300
                    rawText: "example.com.\t\t300\tIN\tA\t104.18.26.120"
                    rRsetType: 1
                    address: 104.18.26.120
                  - name: example.com
                    type: 28
                    dnsType: AAAA
                    ttl: 300
                    rawText: "example.com.\t\t300\tIN\tAAAA\t2606:4700:0:0:0:0:6812:1b78"
                    rRsetType: 28
                    address: 2606:4700:0:0:0:0:6812:1b78
                  - name: example.com
                    type: 28
                    dnsType: AAAA
                    ttl: 300
                    rawText: "example.com.\t\t300\tIN\tAAAA\t2606:4700:0:0:0:0:6812:1a78"
                    rRsetType: 28
                    address: 2606:4700:0:0:0:0:6812:1a78
                - queryTime: '2024-12-17'
                  domainName: example.com.
                  dnsTypes:
                    AAAA: 28
                    TXT: 16
                    A: 1
                  dnsRecords:
                  - name: example.com
                    type: 1
                    dnsType: A
                    ttl: 1925
                    rawText: "example.com.\t\t1925\tIN\tA\t93.184.215.14"
                    rRsetType: 1
                    address: 93.184.215.14
                  - name: example.com
                    type: 28
                    dnsType: AAAA
                    ttl: 581
                    rawText: "example.com.\t\t581\tIN\tAAAA\t2606:2800:21f:cb07:6820:80da:af6b:8b2c"
                    rRsetType: 28
                    address: 2606:2800:21f:cb07:6820:80da:af6b:8b2c
                  - name: example.com
                    type: 16
                    dnsType: TXT
                    ttl: 21600
                    rawText: "example.com.\t\t21600\tIN\tTXT\t\"wgyf8z8cgvm2qmxpnbnldrcltvk4xqfn\""
                    rRsetType: 16
                    strings:
                    - wgyf8z8cgvm2qmxpnbnldrcltvk4xqfn
                - queryTime: '2026-06-08'
                  domainName: example.com.
                  dnsTypes:
                    SOA: 6
                    AAAA: 28
                    TXT: 16
                    A: 1
                    NS: 2
                    MX: 15
                    SPF: 99
                  dnsRecords:
                  - name: example.com
                    type: 1
                    dnsType: A
                    ttl: 300
                    rawText: "example.com.\t\t300\tIN\tA\t104.20.23.154"
                    rRsetType: 1
                    address: 104.20.23.154
                  - name: example.com
                    type: 1
                    dnsType: A
                    ttl: 300
                    rawText: "example.com.\t\t300\tIN\tA\t172.66.147.243"
                    rRsetType: 1
                    address: 172.66.147.243
                  - name: example.com
                    type: 28
                    dnsType: AAAA
                    ttl: 300
                    rawText: "example.com.\t\t300\tIN\tAAAA\t2606:4700:10:0:0:0:6814:179a"
                    rRsetType: 28
                    address: 2606:4700:10:0:0:0:6814:179a
                  - name: example.com
                    type: 28
                    dnsType: AAAA
                    ttl: 300
                    rawText: "example.com.\t\t300\tIN\tAAAA\t2606:4700:10:0:0:0:ac42:93f3"
                    rRsetType: 28
                    address: 2606:4700:10:0:0:0:ac42:93f3
                  - name: example.com
                    type: 6
                    dnsType: SOA
                    ttl: 627
                    rawText: "example.com.\t\t627\tIN\tSOA\telliott.ns.cloudflare.com. dns.cloudflare.com. 2391407559 10000 2400 604800 1800"
                    rRsetType: 6
                    admin: dns.cloudflare.com.
                    host: elliott.ns.cloudflare.com.
                    expire: 604800
                    minimum: 1800
                    refresh: 10000
                    retry: 2400
                    serial: 2391407559
                  - name: example.com
                    type: 16
                    dnsType: TXT
                    ttl: 10694
                    rawText: "example.com.\t\t10694\tIN\tTXT\t\"_k2n1y4vw3qtb4skdx9e7dxt97qrmmq9\""
                    rRsetType: 16
                    strings:
                    - _k2n1y4vw3qtb4skdx9e7dxt97qrmmq9
                  - name: example.com
[...]
